@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model UserService.Database.Entities.UserEntity

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    @* <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> *@
    <title>Logowanie</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <form asp-controller="Authorization" asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control- label">User name</label>
                    <input asp-for="UserName" class="form-control" placeholder="User name"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary"/>
                </div>
            </form>
            <div>
                <br>
                <br>
            </div>
            <form asp-controller="Authorization" asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control- label">User name</label>
                    <input asp-for="UserName" class="form-control" placeholder="User name"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password"/>
                </div>
                <div>
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="email@example.com"/>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary"/>
                </div>
                </form>
        </div>
    </div>
</div>

@* @section Scripts { *@
@*     @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); } *@
@* } *@

</body>
</html>